.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
bin/main/com/example/unitconverter/api/dtos/ConversionResponseDto.class
bin/main/com/example/unitconverter/api/controllers/ConversionController.class
bin/main/com/example/unitconverter/api/dtos/ConvertedUnit.class
bin/main/com/example/unitconverter/service/impl/WeightUnitConversionService.class
bin/main/com/example/unitconverter/service/UnitConversionService.class
bin/main/com/example/unitconverter/UnitConverterApp.class
bin/test/com/example/unitconverter/api/controllers/ConversionControllerIT.class
bin/test/com/example/unitconverter/UnitConverterAppTests.class
